/* smart phone and tablets*/
@media (max-width: 767px)
{
	.nav-link {padding: 5px 0 5px 0;}
	.form-inline .form-control{margin: 10px auto;}
	.Footer .social{margin: 0px 0 35px 0;}
	.sk-cube-grid{margin: 250px auto;}
	.w-100{height: 568px;}
	.testmonials p{font-size: 20px;}
	
	#Go-home{right: 6px;}

	/* hide vertical scroll because of the drop in touch pad */
	.nicescroll-rails-vr .nicescroll-cursors{display: none}
}

/*small screen*/
@media (min-width: 768px) and (max-width: 991px)
{
	.nav-link {padding: 5px 0 5px 0;}
	.form-inline .form-control{width: 425px;}
	.sk-cube-grid{margin: 250px auto;}
} 

/*medium screen*/
@media (min-width: 992px) and (max-width: 1199px)
{
	.form-inline .form-control{width: 425px;}
}

/*Large screen*/
@media (min-width: 1200px)
{
	.form-inline .form-control{width: 425px;}
}
}
